html, body{
    width:100%;
    margin: 0px;
    }






h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #36505E ;
    font-size: 42px;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-top: 170px;
    font-weight: 400;
    margin: auto;
    display: inline-block;
    
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #3BC7D0 ;
    font-size: 35px;
    text-align: left;
    padding-bottom: 8px;
    padding-left: 100px;
    padding-top: 160px;
    font-weight: 500;
    margin: auto;
    display: inline-block;
    
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #36505E ;
    font-size: 35px;
    text-align: left;
    padding-bottom: 8px;
    padding-left: 100px;
    padding-top: 20px;
    font-weight: 400;
    margin: auto;
    display: inline-block;    
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: #36505E ;
    font-size: 20px;
    text-align: left;
    font-weight: 100;
     padding-left: 100px;

    
}

.banner {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 30px;
    text-align: left;
    font-weight: 100;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-right: px;
    max-width: 99%;
}

.list {
    padding: 20px;
}

ul {
    float: right;
}


/************************************/

header {
   padding-top: 40px;
    height: 650px;
}

.top {
    height: 100px;
}

.navigation{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-top: 0px;
    padding-right: 100px;
    font-family: 'Ubuntu', sans-serif;
    color: '#36505E'; 
    margin: auto;
    width: auto; 
    
}

.hearty{
    max-width: 4%;
    padding-left: px;
    
}

.hearty2{
    max-width: 5%;
    padding-left: 10px;
    
}

.title1 {
        display: inline-block;
}


.introduction{
    color: #36505E;
    font-size: 25px;
    font-weight:100;
    padding-left: 100px;
   font-family: 'Ubuntu', sans-serif;
    text-align: left;
    max-width: 70%;
    margin: 0%;
    
}


.button{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 10px 35px;
    background-color: #3BC7D0;
    border-radius: 8px;
    border: none;  
    transition: 0.5s;
    color: white ;
}

.wrapper {
    padding-left: 100px;
    padding-top: 30px;
}

button:hover{
    background: #FF5A74 ;
    color:  white;
}

a {
    color: #0B355E;
    text-decoration: none;
        }

a:hover {
    color: #FF5A74 ; 
        }

.underliney{
    border-bottom: 2px, solid, #0B355E;

}

.pens {

    padding-top: 100px;
    padding-right: 200px;
    padding-bottom: 100px;
        } 

.wrapper2 {
width: 100%;
}



.container2 {
    display: flex;
    flex-direction:row; 
    text-align: left;
    flex-wrap: wrap;
  -webkit-justify-content: center;
    
}

.container {
    background-image: aquamarine;
    display: flex;
    flex-direction:row; 
    text-align: center;
    flex-wrap: wrap;
  -webkit-justify-content: center;
}

.flex-item2 {
    display: inline-block;
max-width: 50%;
    margin: 0px;
    
}

.flex-item {
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    display: inline-block;
    max-width: 50%;
}




.assess {
    padding-top: 140px;
    padding-right: 100px;
    padding-left: 10px;
    max-width: 95%;
}

.challenge {
    padding-top: 150px;
    padding-left: 30px;
        max-width: 90%;
}


.challenges {
    padding-left: 90px;
    padding-right: 100px;
}

.chal {
    padding-left: 90px;
    color: #FF5A74;
}

.motivate {
    padding-top: 120px;
    padding-right: 100px;
    padding-left: 20px;
    padding-bottom: 100px;
    max-width: 90%;
}

.mot {
    color: #FCB040;
}

.moti {
    max-width: 3.5%;
    padding-left: 10px;
    
}


.appb {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 260px;
    padding-left: 100px;
    
}


.stripe{
    background-color: #3BC7D0;
    height: 170px;
    display: flex;
}




.description {
    max-width: 70%;
    
}

.D2 {
    max-width: 70%;
}













.animated.fadeInDown {
-webkit-animation-duration: 1.4s;
-webkit-animation-delay: 0s;

}

.animated.fadeIn {
-webkit-animation-duration: 1s;
-webkit-animation-delay: 1.2s;

}

.animated.fadeIn.2 {
-webkit-animation-duration: 1s;
-webkit-animation-delay: 1.5s;
}

.cloud.animated.slideInLeft{
    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: 3s;
}

.cloud2.animated.slideInRight {
    -webkit-animation-duration: 5s;
}

/* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.hvr-wobble-skew {
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.hvr-wobble-skew { 
    padding-left: 100px;
    width: 9%;
    

    
        
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}




* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

